.supersecret-wrapper {
  position: relative;
}
.supersecret-wrapper input {
  position: relative;
  z-index: 2;
  background-color: transparent;
}
.supersecret-level-bar {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    bottom: 0px;
    -moz-transition: width: 0.1s;
    -o-transition: width: 0.1s;
    -webkit-transition: width: 0.1s;
    -ms-transition: width: 0.1s;
    transition: width 0.1s;
}
.suggestion-pane {
  position: absolute;
  right: -310px;
  top: 0px;
  width: 250px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid rgb(213, 213, 213);
  display:none;
}
.focussed .suggestion-pane {
  display: block;
}
.suggestion-item.ok {
  color: green;
}
.supersecret-wrapper input.invalid:focus {
  border: 1px solid red;
}
